In [1]:
print("Let's learn pandas with Subhashish")

Let's learn pandas with Subhashish

In [2]:
import pandas as pd

In [3]:
obj = pd.Series([1,2,3,4,5])

In [4]:
obj

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
# Left hand side represents the indexing and right hand side represents the value. Similarly we can do,
obj2 = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

In [7]:
obj2

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [8]:
obj2.values

array([1, 2, 3, 4, 5])

In [9]:
obj2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [10]:
obj2['a']

1

In [11]:
# Manipulation using index in pandas
obj2['d'] = 6

In [12]:
obj2

a    1
b    2
c    3
d    6
e    5
dtype: int64

In [13]:
obj2[['c','a','d']]

c    3
a    1
d    6
dtype: int64

In [14]:
obj2

a    1
b    2
c    3
d    6
e    5
dtype: int64

In [15]:
obj2[obj2 > 0]

a    1
b    2
c    3
d    6
e    5
dtype: int64

In [16]:
obj2 * 2

a     2
b     4
c     6
d    12
e    10
dtype: int64

In [17]:
obj2.dtype

dtype('int64')

In [18]:
'z' in obj2

False

In [19]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)

In [20]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [21]:
obj3['Texas']

71000

In [22]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)

In [23]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [24]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [25]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [26]:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [27]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [28]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [29]:
obj4.name = 'Population'

In [30]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: Population, dtype: float64

In [31]:
obj4.index.name= 'state'

In [32]:
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: Population, dtype: float64

In [33]:
obj

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [35]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan', 'Subhashish']

In [36]:
obj

Bob           1
Steve         2
Jeff          3
Ryan          4
Subhashish    5
dtype: int64

## DataFrame